@forward './functions';
// ---------------------
//   --- Variables ---
// ---------------------


$debug: false;

// --- colors ---
$clr10: #ffffff;
$clr11: #252122;
$clr12: #D52349;
$clr13: #5d5d5d;
$clr14: #221e1ffa;
$clr15: #827a7c;
$clr16: #858484;
$clr17: #2daae4;
$clr18: #c4376b;
$clr19: #2b4661;
$clr20: #888888;
$clr21: #ffffff0d;
$clr22: #c5c4c4;
$clr23: #cce8f4;
$clr24: #ccc;
$clr25: #f3f3f3;
$clr26: #f7f7f7;
$clr27: #aaa;

//current color
$current-color: currentColor;

// font color

// text
$clr-txt: $clr10;

// Header title, H2-awesome,H3-MyPortfolio,H2 H3-bottom
$clr-txt-title: $clr11;

// navigation links
$clr-txt-navlinks: $clr13;
$clr-txt-navlinks-dropdown: $clr27;

// hero
$clr-txt-H2Header: $clr10;
$clr-txt-H3SubHeader: $clr12;

// icons
$clr-icons: $clr10;

// awesome,MyPortfolio paragraph
$clr-txt-par: $clr13;

// footer paragraph
$clr-txt-footer-par: $clr16;
$clr-txt-footer-phone: $clr16;

// footer links
$clr-txt-footer-links: $clr22;

// buttons
$clr-txt-btn: $clr10;

// -------------------------

// backround color

$clr-bg-body: $clr10;

$clr-bg-header: $clr10;
$clr-bg-dropdown: $clr11;

$clr-bg-active: $clr12;
$clr-bg-NavLinks: $clr25;

$clr-bg-HeroHeader: $clr11;

$clr-bg-hero: $clr23;

$clr-bg-MyPortoflio: $clr26;
$clr-bg-MyPortoflio-itm: $clr10;

$clr-bg-bottom: $clr11;
$clr-bg-date: $clr12;
$clr-bg-footer: $clr21;

// -------------------------



$backroundGradient: (
    98.96% 98.96% at 50% 0%,
    #232A34 0%,
    #181E27 100%
);
// --------------------------------


// --- fonts ---
$font-family-sans: "Source Sans 3", sans-serif;

$font-family-serif: Georgia, Times, 'Times New Roman', serif;

// -------------------------------

// --- border-radius ---
$br-global: 5;
$br-btn-radius: 5;


// --- break points ---

// -------------------------------


// --- font-sizes ---
$font-size-110: 110%;
$font-size-100: 100%;
$font-size-90: 90%;
$font-size-80: 80%;
// --------------------------------


// header
$h1max: rem(48, 0); //48px
$h1mid: rem(32, 10); //32px
$h1min: rem(32, 20); //16px
$h1mni: 1.37rem; //22px
// navigace
$navmax: 1.331rem; //21.3px
$navmid: 1.166rem; //18.6px
$navmin: 1.083rem; //17.3px
$navmni: .9125rem; //14.6px
// pruhlednej banner
$banmax: 1.6663rem; //26.6px
$banmid: 1.4581rem; //23.3px
$banmin: 1.3538rem; //21.6px
$banmni: 1.1438rem; //18.3px
// heading pod iconama
$h3max: 1.60rem; //25.6px
$h3mid: 1.40rem; //22.4px
$h3min: 1.30rem; //20.8
$h3mni: .912rem; //14.6px
// paragraph
$pgmax: $navmax; //21.3px
$pgmid: $navmid; //18.6px
$pgmin: $navmin; //17.3px
$pgmni: $navmni; //14.6px
// gigantic heading
$ghmax: 3.000rem; //48px
$ghmid: 2.625rem; //42px
$ghmin: 1.875rem; //30px
$ghmni: 1.143rem; //18.3px
// giginatic subheding
$ghsubmax: 2.00rem; //32px
$ghsubmid: 1.75rem; //28px
$ghsubmin: 1.50rem; //24px
$ghsubmni: .912rem; //14.6px
// whiteHeading
$whmax: 2.333rem; //37.3px
$whmid: 2.037rem; //32.6px
$whmin: 1.750rem; //28px
$whmni: 1.143rem; //18.3px
//footer
$footmax: 1.20rem; //19.2px
$footmid: 1.05rem; //16.8px
$footmin: .975rem; //15.6px
$footmni: .825rem; //13.2px


// --- pole ---
$pages: home, gallery, blog, contact, buttons;


// icon colors
$icons-color: (
    'cog':$clr12,
    'flash':$clr11,
    'star':$clr15,
    'facebook':$clr20,
    'twitter':$clr17,
    'dribbble':$clr18,
    'tumbler':$clr19,
    'linkedin':$clr20,
);

$btns-color: (
    'GetStarted':$clr12,
    'ContinueReading':$clr12,
    'FindOutMore':$clr12,
    'LearnMoreMain':$clr11,
    'comments':$clr11,
);

//--------------------------------