@forward './functions';
// ---------------------
//   --- Variables ---
// ---------------------


$debug: false;

// --- colors ---
$clr10: #ffffff;
$clr11: #2C7DFA;
$clr12: #3685FF;
$clr13: #1F314F;
$clr14: #7D889E;
$clr15: #D5E1EF;


//current color
$current-color: currentColor;

// font color

// text
$clr-txt: $clr10;

// Header title, H2-awesome,H3-MyPortfolio,H2 H3-bottom
$clr-txt-title: $clr11;

// navigation links
$clr-txt-navlinks: $clr13;
$clr-txt-navlinks-dropdown: $clr27;

// hero
$clr-txt-H2Header: $clr10;
$clr-txt-H3SubHeader: $clr12;

// icons
$clr-icons: $clr10;

// awesome,MyPortfolio paragraph
$clr-txt-par: $clr13;

// footer paragraph
$clr-txt-footer-par: $clr16;
$clr-txt-footer-phone: $clr16;

// footer links
$clr-txt-footer-links: $clr22;

// buttons
$clr-txt-btn: $clr10;

// -------------------------

// backround color

$clr-bg-body: $clr10;

$clr-bg-header: $clr10;
$clr-bg-dropdown: $clr11;

$clr-bg-active: $clr12;
$clr-bg-NavLinks: $clr25;

$clr-bg-HeroHeader: $clr11;

$clr-bg-hero: $clr23;

$clr-bg-MyPortoflio: $clr26;
$clr-bg-MyPortoflio-itm: $clr10;

$clr-bg-bottom: $clr11;
$clr-bg-date: $clr12;
$clr-bg-footer: $clr21;

// -------------------------



$backroundGradient: (
    98.96% 98.96% at 50% 0%,
    #232A34 0%,
    #181E27 100%
);
// --------------------------------


// --- fonts ---
$font-family-SourceSans: "Source Sans 3", sans-serif;
$font-family-Outfit: Outfit, sans-serif;

$font-family-serif: Georgia, Times, 'Times New Roman', serif;

// -------------------------------

// --- border-radius ---
$br-global: 5;
$br-btn-radius: 5;


// --- break points ---

// -------------------------------


// --- font-sizes ---
$font-size-110: 110%;
$font-size-100: 100%;
$font-size-90: 90%;
$font-size-80: 80%;
// --------------------------------


// heading
$h1max: rem(22, 0); //22px
$h1mid: rem(32, 10); //32px
$h1min: rem(32, 20); //16px
$h1mni: 1.37rem; //22px

// body
$bodymax: rem(15, 0); //15px
$bodymid: 1.166rem; //18.6px
$bodymin: 1.083rem; //17.3px
$bodymni: .9125rem; //14.6px

// pruhlednej banner
$banmax: 1.6663rem; //26.6px
$banmid: 1.4581rem; //23.3px
$banmin: 1.3538rem; //21.6px
$banmni: 1.1438rem; //18.3px

// paragraph
$pgmax: $navmax; //21.3px
$pgmid: $navmid; //18.6px
$pgmin: $navmin; //17.3px
$pgmni: $navmni; //14.6px

//footer
$footmax: 1.20rem; //19.2px
$footmid: 1.05rem; //16.8px
$footmin: .975rem; //15.6px
$footmni: .825rem; //13.2px
// --------------------------------


// --- pole ---
$pages: home, gallery, blog, contact, buttons;


// icon colors
$icons-color: (
    'cog':$clr12,
    'flash':$clr11,
    'star':$clr15,
    'facebook':$clr20,
    'twitter':$clr17,
    'dribbble':$clr18,
    'tumbler':$clr19,
    'linkedin':$clr20,
);

$btns-color: (
    'GetStarted':$clr12,
    'ContinueReading':$clr12,
    'FindOutMore':$clr12,
    'LearnMoreMain':$clr11,
    'comments':$clr11,
);

//--------------------------------