@use './functions' as *;
// ---------------------
//   --- Variables ---
// ---------------------


$debug: false;

// --- colors ---
$clr10: #ffffff; //White
$clr11: #2C7DFA; //Blue
$clr12: #3685FF; //Blue Shade
$clr13: #1F314F; //Dark Navy
$clr14: #7D889E; //Grey
$clr15: #D5E1EF; //Light Grey


// font color

// text Heading
$clr-txt-heading: $clr13;
// text Body
$clr-txt-body: $clr14;

// Header title, H2-awesome,H3-MyPortfolio,H2 H3-bottom
$clr-txt-title: $clr10;

// navigation links
$clr-txt-navlinks: $clr10;

// hero
$clr-txt-H2Header: $clr10;

// icons
$clr-icons: $clr10;

// awesome,MyPortfolio paragraph
$clr-txt-par: $clr10;

// footer paragraph
$clr-txt-footer-par: $clr10;

// footer links
$clr-txt-footer-links: $clr10;

// buttons
$clr-txt-btn: $clr10;

// -------------------------

// backround color

$clr-bg-body: $clr15;

$clr-bg-card: $clr10;

$clr-bg-qrCode: $clr12;

$clr-bg-active: $clr10;

$clr-bg-footer: $clr10;

// -------------------------



$backroundGradient: (
    98.96% 98.96% at 50% 0%,
    #232A34 0%,
    #181E27 100%
);
// --------------------------------


// --- fonts ---
$font-family-SourceSans: "Source Sans 3", sans-serif;
$font-family-Outfit: Outfit, sans-serif;

$font-family-serif: Georgia, Times, 'Times New Roman', serif;

// -------------------------------

// --- border-radius ---
$br-global: 20;
$br-btn-radius: 5;


// --- break points ---

// -------------------------------


// --- font-sizes ---
$font-size-110: 110%;
$font-size-100: 100%;
$font-size-90: 90%;
$font-size-80: 80%;
// --------------------------------


// heading
$h1max: rem(22, 0); //22px
$h1mid: rem(32, 10); //32px
$h1min: rem(32, 20); //16px
$h1mni: 1.37rem; //22px

// body
$bodymax: rem(15, 0); //15px
$bodymid: 1.166rem; //18.6px
$bodymin: 1.083rem; //17.3px
$bodymni: .9125rem; //14.6px

// pruhlednej banner
$banmax: 1.6663rem; //26.6px
$banmid: 1.4581rem; //23.3px
$banmin: 1.3538rem; //21.6px
$banmni: 1.1438rem; //18.3px

// paragraph
// $pgmax: $navmax; //21.3px
// $pgmid: $navmid; //18.6px
// $pgmin: $navmin; //17.3px
// $pgmni: $navmni; //14.6px

//footer
$footmax: 1.20rem; //19.2px
$footmid: 1.05rem; //16.8px
$footmin: .975rem; //15.6px
$footmni: .825rem; //13.2px
// --------------------------------


// --- pole ---
// $pages: home, gallery, blog, contact, buttons;


// icon colors
$icons-color: (
    'cog':$clr13,
    'flash':$clr13,
    'star':$clr13,
    'facebook':$clr13,
    'twitter':$clr13,
    'dribbble':$clr13,
    'tumbler':$clr13,
    'linkedin':$clr13,
);

$btns-color: (
    'GetStarted':$clr12,
    'ContinueReading':$clr12,
    'FindOutMore':$clr12,
    'LearnMoreMain':$clr11,
    'comments':$clr11,
);

//--------------------------------